@font-face {
    font-family: BrandyNicoleEaster;
    src: url(BrandyNicoleEaster.ttf);
}

@font-face {
    font-family: brandynicoleeastertwo;
    src: url(brandynicoleeastertwo.ttf);
}

body {
    font-family: BrandyNicoleEaster;
    align-content: center;
    padding: 20px;
}

a {
    text-decoration: none;
}

ul {
    font-family: brandynicoleeastertwo;
    list-style: none;
    padding: 10px;
    align-content: center;
    white-space: nowrap;
    max-width: 800px;
    margin: 0 auto;
}

li {
    font-size: 38px;
    padding: 20px 10px 20px 10px;
    align-content: center;
    display: inline-block;
}


h1 {
    color: purple;
    font-size: 58px;
    font-family: brandynicoleeastertwo;
    max-width: 750px;
    padding-bottom: 100px;
    text-align: center;
    margin: 0 auto;
}

.constructionHeading img {
    width: 100%;
}

/* Temporary UC=Under Construction duh */

#UC {
    text-align: center;
}

#email {
    text-align: center;
}

#clothes li img {
    max-width: 100px;
    border-radius: 200px;
    padding: 20px;
}

#clothes li {
    padding: 20px 10px 20px 10px;
    align-content: center;
    padding-left: 10px;
}

#clothes a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:navy;
}

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.contactDetails {
    color: red;
    text-decoration: none;
    margin: 60px;
    text-align: center;
    font-size: 36px;
}

#finalLine {
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    padding-top: 100px;
}

#about {
    text-align: center;
}


#design {
    text-align: center;
}
