@font-face {
    font-family: BrandyNicoleEaster;
    src: url(BrandyNicoleEaster.ttf);
}

@font-face {
    font-family: brandynicoleeastertwo;
    src: url(brandynicoleeastertwo.ttf);
}

body {
    background-color: rgba(195,226,237,0.16);
    font-family: BrandyNicoleEaster;
    align-content: center;
}

a {
    text-decoration: none;
}

ul {
    font-family: brandynicoleeastertwo;
    list-style: none;
    align-content: center;
    white-space: nowrap;
    max-width: 800px;
    margin: 0 auto;
}

li {
    font-size: 40px;
    padding: 20px 10px 20px 10px;
    display: inline-block;
}


h1 {
    color: navy;
    font-size: 58px;
    font-family: brandynicoleeastertwo;
    max-width: 750px;
    padding-bottom: 100px;
    text-align: center;
    margin: 0 auto;
}

.constructionHeading img {
    width: 100%;
}

/* Temporary UC=Under Construction duh */

#UC {
    text-align: center;
}

#email {
    text-align: center;
}

#clothesPage li img {
    max-width: 100px;
    border-radius: 200px;
    padding: 20px;
}

#clothesPage li {
    padding: 20px 20px 20px 40px;

}

#clothesPage a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: 000066;
}

.masonry { /* Masonry container */
    column-count: 3;
    column-gap: none;
    column-width: 100%;
    margin: none;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    max-height: none;
}

.item image {
    max-width: 100%;
    max-height: 100%;
}

.masonry-two { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item-two { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    size: 100px;
}

.contactDetails {
    color: red;
    text-decoration: none;
    margin: 46px;
    font-size: 32px;
}

#contactPage {
    text-align: center;
}

#finalLine {
    color: rgba(175,107,223,1);
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    padding-top: 100px;
}

#aboutPage {
    color: rgba(223,107,183,1);
    text-align: center;
    width: 100%;
}

#designPage {
    text-align: center;
}

#art a {
    color: red;
}

#clothes a {
    color: rgba(170,65,214,0.99);
}

#design a {
    color: rgba(97,138,40,0.99);
}

#repair a {
    color: rgba(241,89,148,0.99);
}

#learn a {
    color: rgba(212,209,17,0.99);
}

#contact a {
    color: rgba(40,189,147,0.99);
}

#collectionPage {

}

.collectionLink a{
    font-size: 20px;
    color: navy;
}